.column {
  width: 33%;
  float: left;
}

#column1 {
  background-color: red;
}

#column2 {
  background-color: yellow;
}

#column3 {
  background-color: orange;
}

.image {
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.text {
  padding: 0px 20px;
}
